*,
body {
	font-size: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/* Landing page */

video {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.video-wrapper {
	position: relative;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* Landing content */

.content {
	position: relative;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 3em;
}

.content h1 {
	font-family: "Cormorant Garamond", serif;
	font-size: 8em;
	color: #f7f7ff;
	text-shadow: 4px 4px black;
	margin-bottom: 20px;
}

.content h2 {
	font-family: "Noto", sans-serif;
	font-size: 2.5em;
	color: #e6e6e6;
	text-shadow: 2px 2px #39393a;
	margin-bottom: 20px;
}

/* Landing button */

.lbutton {
	cursor: pointer;
	padding: 15px 25px;
	border: 2px solid white;
	border-radius: 15px;
	color: black;
	z-index: 1;
	background: #ffffff; /* fallback for old browsers */
	background: transparent;

	position: relative;
	font-weight: 1000;
	font-size: 17px;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
	box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
	transition: all 250ms;
	overflow: hidden;
}

.lbutton::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	border-radius: 15px;
	background: #141e30; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#243b55,
		#141e30
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#243b55,
		#141e30
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	z-index: -1;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
	box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
	transition: all 250ms;
}

.lbutton:hover {
	color: white;
}

.lbutton:hover::before {
	width: 100%;
}
/* Links */

a {
	font-family: "DM Sans", sans-serif;
	color: white;
	text-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
	transition: 0.5s ease;
	text-shadow: 1px 1px black;
	text-decoration: none;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	cursor: pointer;
	color: white;
	text-decoration: underline white;
}

/* Navigation */

.nav-container {
	margin: 0, 10px;
	height: 5vh;
	width: 100%;
	background: #d1913c; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to left,
		#ffd194,
		#d1913c
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to left,
		#ffd194,
		#d1913c
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	/* padding:0 2em; */
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 10;
}

.logo {
	color: white;
	font-size: 1rem;
	font-family: "DM Sans", sans-serif;
	text-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
	text-shadow: 1px 1px black;
	text-decoration: none;
}

.logo:hover {
	transform: scale(1.05);
	text-decoration: underline white;
	cursor: pointer;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

nav ul li {
	display: flex;
	padding: 0em 2em;
	list-style: none;
	transition: 0.5s ease;
	font-weight: bold;
}

nav ul li:hover {
	transform: scale(1.05);
	text-decoration: white underline;
	transform-origin: center;
}

span {
	color: gray;
}

/* Hero Container */

.hero-container {
	height: auto;
	width: 100vw;
	position: relative;
	display: grid;
	place-items: center;
}

.hero-container img {
	width: 100%;
	max-height: 100vh;
	z-index: -1;
	object-fit: cover;
}

.hero-content {
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-right: 45%;
	text-align: center;
	padding: 3.5em;
	border: 1px solid black;
	border-radius: 2em;
	background: #141e30; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#243b55,
		#141e30
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#243b55,
		#141e30
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	/* opacity: 0.8; */
}

.hero-content h1 {
	font-family: "Lato", sans-serif;
	font-size: 6rem;
	color: white;
	text-shadow: 2px 2px black;
}

.hero-content h2 {
	font-family: "Lato";
	font-size: 5rem;
	color: #f4d35e;
	transition: ease-in;
	text-shadow: 2px 2px black;
}

.hero-content h3 {
	font-family: "Lato", sans-serif;
	font-size: 2rem;
	color: #4a4e69;
	transition: ease-in;
}

/* Middle */

.mid-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
	/* z-index: -1; */
}

.mid-left {
	height: 100vh;
	width: 50%;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.mid-left h1 {
	font-family: "Concert One", cursive;
	font-size: 3rem;
	color: #4a4e69;
}

.mid-left h2 {
	font-family: "Noto Sans Mono", monospace;
	font-size: 2rem;
	color: #4a4e69;
}

.mid-left h3 {
	font-family: "Lato", sans-serif;
	font-size: 2rem;
	color: #4a4e69;
}

.mid-right {
	height: 100vh;
	width: 50vw;
	display: flex;
}

.mid-right img {
	width: 100%;
	max-height: 100vh;
	z-index: -1;
	object-fit: cover;
}

/* End Container */

.end-container {
	height: auto;
	width: 100vw;
	position: relative;
	display: flex;
	flex-direction: column;
}

.end-container img {
	width: 100%;
	max-height: 100vh;
	z-index: -1;
	object-fit: cover;
	filter: brightness(0.7);
}

.end-content {
	position: absolute;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	/* text-shadow: 2px 3px #22223b; */
	align-self: center;
	padding: 1em 0;
}

.end-content h1 {
	font-family: "Concert One", cursive;
	color: white;
	font-size: 5rem;
	text-shadow: 4px 6px #22223b;
}

.end-content h2 {
	font-family: "Lato", sans-serif;
	color: white;
	font-size: 3rem;
	padding: 1em 0;
	text-shadow: 1px 2px #22223b;
}

form {
	height: 45vh;
	width: 45vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	color: white;
	padding: 2em;
	text-align: left;
	text-shadow: 2px 3px #22223b;
	border-radius: 1em;
}

.form {
	height: 45vh;
	width: 45vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid white;
	border-radius: 2em;
	background-color: #141e30; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#243b55,
		#141e30
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#243b55,
		#141e30
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	text-align: left;
	text-shadow: 2px 3px #22223b;
	padding: 2em 0;
	margin-bottom: 1em;
	opacity: 0.9;
}

.ebutton {
	cursor: pointer;
	padding: 15px 25px;
	border: unset;
	border-radius: 15px;
	color: black;
	z-index: 1;
	background: #ffffff;
	position: relative;
	font-weight: 1000;
	font-size: 17px;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
	box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
	transition: all 250ms;
	overflow: hidden;
	text-align: center;
}

.ebutton::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	border-radius: 15px;
	background: #141e30; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#243b55,
		#141e30
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#243b55,
		#141e30
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	z-index: -1;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
	box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
	transition: all 250ms;
}

.ebutton:hover {
	color: white;
}

.ebutton:hover::before {
	width: 100%;
}

form label {
	font-size: 1.5em;
}
.form h3 {
	font-family: "Concert One", cursive;
	color: white;
	font-size: 2rem;
}

.form label {
	padding-bottom: 0.5em;
}
.form input {
	/* border-radius:1em; */
	height: 3em;
}

/* Contact Page- Top */

.contact-top {
	height: auto;
	width: 100vw;
	position: relative;
	display: grid;
	place-items: center;
}

.contact-top img {
	width: 100%;
	max-height: 100vh;
	z-index: -1;
	object-fit: cover;
}

.top-items {
	display: flex;
	position: absolute;
	flex-direction: column;
	margin-top: 10%;
	align-items: center;
	border: 2px solid black;
	border-radius: 2em;
	background: #141e30; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#243b55,
		#141e30
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#243b55,
		#141e30
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	backdrop-filter: grayscale (30);
	max-width: 75%;
	opacity: 0.7;
	padding: 0 1em;
}

.top-items h1 {
	font-family: "Lato", sans-serif;
	font-size: 7rem;
	font-weight: 800;
	color: white;
	line-height: 1.6;
	max-width: 30em;
	margin: 0 auto;
	text-shadow: 2px 3px black;
}

.top-items h2 {
	font-family: "Lato", monospace;
	font-size: 5rem;
	font-weight: 1000;
	color: white;
	text-shadow: 2px 3px black;
}

.top-items p {
	color: white;
	text-align: center;
	line-height: 1.6;
	max-width: 30em;
	margin: 0 auto;
	font-size: 1.5em;
	font-weight: 800;
	text-shadow: 0.08em 0.05em black;
}

/* Contact-Middle */

.contact-mid {
	background-color: white;
	height: 100vh;
	max-width: auto;
	display: flex;
	flex-direction: row;
	padding: 3em 2em;
	justify-content: center;
	align-items: center;
}

/* Contact-Form */

.contact-form {
	height: 100vh;
	max-width: auto;
	background-color: #4a4e69;
}

/* Contact-Middle */

.mid-item {
	height: 22em;
	width: 3em;
	border: 1px solid black;
	border-radius: 1em;
	margin: 1em 4.5em;
	overflow: hidden;
	box-shadow: 3px 3px gray;
	transition: 400ms ease-in-out;
}

.mid-item:hover {
	transform: scale(1.03);
}

.mid-item > h1:hover {
	transform: translateX(0);
}

.mid-item h1 {
	font-family: "Lato", sans-serif;
	text-align: center;
	transform: translateX(-400px);
	transition: 200ms ease-in-out;
}

.mid-item:hover h1 {
	transform: translateX(0);
}

.mid-item img {
	height: 12vh;
	width: 100%;
	border-radius: 0.2em;
}

.mid-item p {
	font-family: "Lato", sans-serif;
	font-size: 0.5em;
	padding: 0 1em;
	transform: translateY(400px);
	transition: 200ms ease-in-out;
	transition-delay: 400ms;
	text-align: center;
}

.mid-item:hover p {
	transform: translateY(0);
}

/* Contact-End */

.contact-end {
	height: 100vh;
	width: 100vw;
	background-image: url("../img/neon.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.contact-end h1 {
	font-size: 7rem;
	font-family: "Lato", sans-serif;
	font-weight: bold;
}

/* Bio-Page */

.bio-mid-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
}

.bio-mid-left {
	height: 100vh;
	width: 50%;
	background-color: #f2e9e4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bio-mid-left h1 {
	font-family: "Concert One", cursive;
	font-size: 5rem;
	color: #4a4e69;
	text-shadow: 0.02em 0.05em gray;
}

.bio-mid-left h2 {
	font-family: "Noto Sans Mono", monospace;
	font-size: 2rem;
	color: #4a4e69;
	text-shadow: 0.02em 0.05em gray;
}

.bio-mid-left h3 {
	font-family: "Lato", sans-serif;
	font-size: 10rem;
	color: #4a4e69;
	text-shadow: 0.02em 0.05em gray;
}

.bio-mid-right {
	height: 100vh;
	width: 50vw;
	display: flex;
	/* background-image: url("../img/bio.jpg"); */
	background-repeat: no-repeat;
	background-size: 100% 100%;
	object-fit: contain;
}

.bio-mid-right img {
	width: 100vw;
	max-height: 100%;
	z-index: -1;
	object-fit: cover;
}

/* Footer  */

.foot-container {
	height: 30vh;
	width: 100%;
	background: #d1913c; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to left,
		#ffd194,
		#d1913c
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to left,
		#ffd194,
		#d1913c
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.foot-container h6 {
	font-family: "Noto Sans Mono", monospace;
	color: white;
	font-size: 5rem;
	text-shadow: 2px 2px black;
}

.foo-smlinks {
	display: flex;
	flex-direction: row;
	transition: 0.5s;
	text-shadow: 2px 2px gray;
}

.foo-smlinks ul {
	display: flex;
	flex-direction: row;
	padding: 1em 2em;
	list-style: none;
	border-radius: 50%;
}

.foo-smlinks ul li:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	transition: 0.3;
	font-size: 4em;
}

.foo-smlinks ul li:hover {
	transform: scale(1.2);
	background-origin: border-box;
}

.foo-smlinks li {
	padding: 1em 2em;
	transition: 0.3s;
}

.foo-smlinks i {
	border-radius: 1em;
	background-color: transparent;
	color: white;
	font-size: 5em;
	cursor: pointer;
	transition: 0.3s;
}

/* Font Awesome */

.fa-instagram:hover {
	color: #c13584;
}

.fa-twitter:hover {
	color: #00acee;
}

.fa-facebook:hover {
	color: #4267b2;
}

.fa-youtube:hover {
	color: red;
}

.foot-container p {
	font-family: "Lato", sans-serif;
	font-size: 5em;
	margin-top: 10px;
	color: white;
	display: flex;
}

.copy {
	display: flex;
	flex-direction: row;
}

.copy p {
	font-size: 5em;
	text-shadow: 1px 1px black;
	padding: 0 0.5em;
}

/* Media Queries */

@media screen and (max-width: 600px) {
	*,
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		width: 100%;
	}

	/* nav */

	.nav-container {
		min-width: 100%;
	}

	nav ul li {
		padding: 0 1em;
		margin: 0;
	}

	nav ul li a {
		font-size: 1em;
		font-weight: bold;
		text-shadow: 0 4px 2px 2px rgba(0, 0, 0, 0.2);
	}

	/* .nav ul {
		padding: 0;
	} */

	.logo a {
		height: inherit;
		color: white;
		font-size: 1rem;
		font-family: "DM Sans", sans-serif;
		text-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
	}

	/* landing */

	.content h1 {
		font-family: "Lato", serif;
		font-size: 4em;
		padding: 0 1em;
		color: #f7f7ff;
		text-shadow: 3px 3px black;
	}

	.content h2 {
		font-family: "Bellefair", sans-serif;
		font-size: 2.5em;
		padding: 0 1em;
		color: #e6e6e6;
		text-shadow: 3px 3px #39393a;
	}

	/* index.html */

	nav ul li {
		list-style: none;
		transition: 0.5s ease;
	}

	.hero-content {
		padding: 0.5em 0.5em;
		background-color: gray;
	}

	.hero-content h1 {
		font-size: 2rem;
		text-shadow: 1.2px 1.2px black;
		padding: 0em 0em;
	}

	.hero-content h2 {
		font-size: 1.6rem;
		text-shadow: 1.2px 1.2px black;
	}

	.mid-container {
		height: 50vh;
		width: 100vw;
	}

	.mid-left {
		height: 50vh;
		padding: 20 em 0;
		text-align: center;
	}

	.mid-left h1 {
		font-size: 2.5rem;
		padding-left: 0.1rem;
	}

	.mid-left h2 {
		font-size: 1.5rem;
		padding-left: 1rem;
	}

	.mid-left h3 {
		font-size: 1.5rem;
		padding-left: 1rem;
	}

	.mid-right img {
		height: 50vh;
		object-position: top right;
	}

	.end-container {
		height: 100vh;
		position: relative;
	}

	.end-container img {
		width: 100%;
		height: 100vh;
		z-index: -1;
		object-fit: cover;
		filter: brightness(0.7);
	}

	.end-content h1 {
		font-size: 3rem;
		text-shadow: 1px 4px #22223b;
	}

	.end-content h2 {
		font-size: 3rem;
		text-shadow: 0.5px 2px #22223b;
	}

	form {
		height: 45vh;
		width: 45vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		color: white;
		padding: 2em;
		text-align: left;
		text-shadow: 2px 3px #22223b;
		border-radius: 1em;
		padding: 1em 2em;
	}

	.form {
		height: 50vh;
		width: 65vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border: 1px solid white;
		border-radius: 2em;
		background-color: gray;
		color: white;
		text-align: left;
		text-shadow: 2px 3px #22223b;
		padding: 0.1em 0;
		margin-bottom: 1em;
	}

	form label {
		font-size: 1em;
	}

	form [placeholder] {
		font-size: 0.5em;
	}
	.form h3 {
		font-family: "Concert One", cursive;
		color: white;
		font-size: 1.5em;
		margin-bottom: 1em;
	}

	.form input {
		height: 1em;
		width: 45vw;
		padding: 1em 0.1em;
	}

	.end-content h2 {
		font-size: 1.5rem;
	}

	.foot-container {
		height: 20vh;
	}

	.foot-container h6 {
		font-size: 1.2rem;
		text-shadow: 1px 1px black;
	}

	.foo-smlinks i {
		font-size: 1.2rem;
	}

	.foot-container p {
		font-size: 0.7em;
		color: white;
	}

	/* contact page */
	.contact-top {
		height: 37vh;
	}

	.top-items h1 {
		font-size: 1.5rem;
	}

	.top-items h2 {
		font-size: 1.2rem;
	}

	.top-items p {
		font-size: 0.7rem;
		/* padding: 0.5em; */
		line-height: 1.6;
		max-width: 30em;
		margin: 0 auto;
	}

	.contact-mid {
		height: 125vh;
		width: 100vw;
		flex-direction: column;
	}

	.mid-item {
		height: 25%;
		width: 50%;
		border: 2px solid black;
		border-radius: 1em;
		overflow: hidden;
	}

	.mid-item h1 {
		font-size: 0.8rem;
		text-align: center;
		padding-bottom: 0.5rem;
	}

	.mid-item img {
		height: 13vh;
		width: 100%;
		border-radius: 0.2em;
	}

	.mid-item p {
		font-size: 0.6em;
		padding: 5 1em;
	}

	.contact-end {
		height: 100vh;
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		background-image: url("../img/extend.jpg");
		background-attachment: fixed;
		background-size: fill;
		background-repeat: no-repeat;
		background-position: center center;
		object-fit: fill;
	}

	.contact-end h1 {
		font-size: 2rem;
	}

	/* bio page */

	.bio-mid-container {
		height: 100vh;
		/* width: auto; */
		flex-direction: column-reverse;
	}

	.bio-mid-left {
		width: 100vw;
	}

	.bio-mid-right {
		width: 100vw;
	}

	.bio-mid-left h1 {
		font-size: 2rem;
		text-align: center;
	}

	.bio-mid-left h2 {
		font-size: 1.5rem;
		padding-left: 0.1rem;
		text-align: center;
	}

	.bio-mid-left h3 {
		font-size: 1.5rem;
		padding-left: 0.1rem;
		text-align: center;
	}

	.bio-mid-right img {
		width: 100%;
		max-height: 100vh;
		object-fit: cover;
	}

	.bio-end-container img {
		width: 100%;
		height: 100vh;
		z-index: -1;
		object-fit: cover;
		filter: brightness(0.7);
	}

	.bio-end-content {
		position: relative;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		/* text-shadow: 2px 3px #22223b; */
		border: 1px red;
		align-self: center;
		padding: 1em 0;
	}
	.end-content h1 {
		font-size: 3rem;
		text-shadow: 1px 4px #22223b;
	}

	.end-content h2 {
		font-size: 3rem;
		text-shadow: 0.5px 2px #22223b;
	}

	form {
		height: 45vh;
		width: 60vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		color: white;
		padding: 2em;
		text-align: left;
		text-shadow: 2px 3px #22223b;
		border-radius: 1em;
		padding: 1em 2em;
	}

	.form {
		height: 50vh;
		width: 65vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border: 1px solid white;
		border-radius: 2em;
		background-color: gray;
		color: white;
		text-align: left;
		text-shadow: 2px 3px #22223b;
		padding: 0.1em 0;
		margin-bottom: 1em;
	}

	form label {
		font-size: 1em;
	}

	form [placeholder] {
		font-size: 0.5em;
	}
	.form h3 {
		display: block;
		font-family: "Concert One", cursive;
		color: white;
		font-size: 2em;
		margin-bottom: 1em;
	}

	.form input {
		height: 1em;
		width: 45vw;
		padding: 1em 0.1em;
	}

	.end-content h2 {
		font-size: 1.5rem;
	}
}

@media all and (orientation: landscape) {
	.logo a {
		height: inherit;
		color: white;
		font-size: 1.2rem;

		font-family: "DM Sans", sans-serif;
		padding: 2rem 1rem;
		text-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
		transition: 0.5s ease;
		text-shadow: 1px 1px black;
	}

	nav ul li a {
		padding: 0 0;
		cursor: pointer;
		font-size: 0.8rem;
		font-weight: bold;
		text-decoration: none;
	}

	.hero-content {
		display: flex;
		flex-direction: column;
		position: absolute;
		margin-right: 45%;
		text-align: center;
		padding: 1.5em;
		border: 1px solid black;
		border-radius: 3.5em;
		background-color: transparent;
		backdrop-filter: grayscale (30%);
		z-index: 1;
	}

	.hero-content h1 {
		text-shadow: 1px 1px black;
	}

	.hero-content h2 {
		font-family: "Lato";
		font-size: 5rem;
		color: #f4d35e;
		transition: ease-in;
		text-shadow: 1px 1px black;
	}

	.top-items {
		font-size: 1rem;
	}
}

@media screen and (min-width: 601px) {
	/* index.html */

	.hero-content h1 {
		font-size: 3rem;
	}

	.hero-content h2 {
		font-size: 1.5rem;
	}

	.mid-container {
		height: 100vh;
	}

	.mid-left {
		height: 100vh;
		padding: 20 em 0;
		text-align: center;
	}

	.mid-left h1 {
		font-size: 2.5rem;
		padding-left: 0.1rem;
	}

	.mid-left h2 {
		font-size: 2rem;
		padding-left: 1rem;
	}

	.mid-left h3 {
		font-size: 2.5rem;
		padding-left: 1rem;
	}

	.mid-right img {
		height: 100vh;
	}

	.end-content h1 {
		font-size: 1.8rem;
	}

	.end-content h2 {
		font-size: 1rem;
	}

	.form {
		height: 30vh;
		width: 60vw;
	}

	.form h3 {
		font-size: 1em;
	}

	.form label {
		font-size: 0.8em;
	}

	.foot-container {
		height: 40vh;
		/* padding: 0.5rem 0.5rem; */
	}

	.foot-container h6 {
		font-size: 1.5rem;
		text-shadow: 1px 1px black;
	}

	.foo-smlinks i {
		font-size: 1.8rem;
	}

	.foot-container p {
		font-size: 1em;
	}

	/* contact page */
	.contact-top {
		height: 100vh;
	}

	.top-items h1 {
		font-size: 3rem;
		text-shadow: 0.5px 0.5px black;
	}

	.top-items h2 {
		font-size: 2rem;
		text-shadow: 1px 2px black;
	}

	.top-items p {
		font-size: 0.8rem;
		padding: 0.5em;
		text-shadow: 0.2px 0.5px black;
	}

	.contact-mid {
		height: 100vh;
		width: 100vw;
		padding: 0 0;
		flex-direction: row;
	}

	.mid-item {
		height: 50%;
		/* width: 90%; */
		border: 2px solid black;
		border-radius: 1em;
		overflow: hidden;
	}

	.mid-item h1 {
		font-size: 1rem;
		text-align: center;
		text-decoration: underline;
		padding-bottom: 0.5rem;
	}

	.mid-item img {
		height: 20vh;
		width: 100%;
		border-radius: 0.2em;
	}

	.mid-item p {
		font-size: 0.5em;
		padding: 5 1em;
	}

	.contact-end {
		height: 100vh;
		width: 100vw;
		background-image: url("../img/extend.jpg");
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0vmax;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.contact-end h1 {
		color: white;
	}

	/* bio page */

	.bio-mid-container {
		height: 100vh;
		flex-direction: column-reverse;
	}

	.bio-mid-left {
		width: 100vw;
	}

	.bio-mid-right {
		width: 100vw;
		height: 75vh;
	}

	.bio-mid-left h1 {
		font-size: 2rem;
		text-align: center;
	}

	.bio-mid-left h2 {
		font-size: 1.5rem;
		padding-left: 0.1rem;
		text-align: center;
	}

	.bio-mid-left h3 {
		font-size: 1.5rem;
		padding-left: 0.1rem;
		text-align: center;
	}

	.bio-mid-right img {
		width: 100%;
		max-height: 100vh;
		object-fit: cover;
	}
}

@media screen and (min-width: 768px) {
	/* index.html */

	.logo a {
		font-size: 2em;
	}

	nav ul li a {
		font-size: 1rem;
	}

	.hero-content {
		padding: 0;
	}
	.hero-content h1 {
		font-size: 4.5rem;
	}

	.hero-content h2 {
		font-size: 3.5rem;
	}

	.mid-container {
		height: 100vh;
		width: 100vw;
		flex-direction: column;
	}

	.mid-left {
		height: 100vh;
		width: 100vw;
	}

	.mid-left h1 {
		font-size: 4.5rem;
	}

	.mid-left h2 {
		font-size: 2.5rem;
	}

	.mid-left h3 {
		font-size: 3.5rem;
	}

	.mid-right {
		height: 50vh;
		width: 100vw;
	}

	.mid-right img {
		height: inherit;
		z-index: -1;
		object-position: center;
	}

	.end-container {
		height: 50vh;
	}

	.end-content {
		height: 50vh;
		width: 70vw;
	}

	.end-content h1 {
		font-size: 2.5rem;
	}

	.end-content h2 {
		font-size: 2rem;
		/* padding: 1em 0; */
	}

	form {
		height: 25vh;
	}

	.form {
		height: 35vh;
		padding: 5em 2em;
	}

	.form label {
		font-size: 1.2em;
	}

	.form h3 {
		font-size: 2em;
	}

	.form input {
		height: 2em;
	}

	.foot-container {
		height: 20vh;
		padding: 0.5rem 0.5rem;
	}

	.foot-container h6 {
		font-size: 2rem;
	}

	.foo-smlinks i {
		font-size: 2rem;
	}

	.foot-container p {
		font-size: 1.5em;
	}

	/* contact page */
	.contact-top {
		height: auto;
		width: 100vw;
	}

	.top-items h1 {
		font-size: 3.5rem;
		text-align: center;
	}

	.top-items h2 {
		font-size: 2rem;
		text-align: center;
	}

	.top-items p {
		font-size: 1.5rem;

		max-width: 90%;
		text-align: center;
	}

	.contact-mid {
		height: 100vh;
		width: 100vw;
		flex-direction: column;
	}

	.mid-item {
		height: 40vh;
		width: 30%;
		border: 2px solid black;
		border-radius: 1em;
		overflow: hidden;
	}

	.mid-item h1 {
		font-size: 1.5rem;
		text-align: center;
		padding-bottom: 0.5rem;
		text-decoration: underline;
	}

	.mid-item img {
		height: 15vh;
		width: 100%;
		border-radius: 0.2em;
	}

	.mid-item p {
		font-size: 0.8em;
		padding: 5 1em;
		text-align: center;
	}

	.contact-end {
		height: 100vh;
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		background-image: url("../img/extend.jpg");
		background-attachment: fixed;
		/* background-size: cover; */
		background-repeat: no-repeat;
		background-position: center center;
		object-fit: cover;
	}

	.contact-end h1 {
		text-align: center;
	}

	/* bio page */

	.bio-mid-container {
		height: 95vh;
		width: 100vw;
		flex-direction: column-reverse;
	}

	.bio-mid-left {
		height: 100vh;
		width: 100vw;
	}

	.bio-mid-right {
		width: 100vw;
		height: 100vh;
		object-fit: cover;
	}

	.bio-mid-left h1 {
		font-size: 6rem;
		text-align: center;
	}

	.bio-mid-left h2 {
		font-size: 3rem;
		padding-left: 0.1rem;
		text-align: center;
	}

	.bio-mid-left h3 {
		font-size: 2rem;
		padding-left: 0.1rem;
		text-align: center;
	}

	.bio-mid-right img {
		width: 100%;
		max-height: 100vh;
		object-fit: cover;
	}

	.end-content {
		padding: 1em 2em;
	}

	.bio-end-container {
		position: relative;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		align-self: center;
		padding: 1em 0;
	}
	.bio-end-container img {
		width: 100%;
		max-height: 100vh;
		z-index: -1;
		object-fit: cover;
		filter: brightness(0.7);
	}
}

@media screen and (min-width: 800px) {
	.end-container {
		height: 50vh;
		margin-bottom: 0;
	}

	.end-container img {
		height: 100vh;
	}

	.end-content h2 {
		font-size: 1.5em;
	}

	.contact-end h1 {
		text-align: center;
	}

	.bio-mid-container {
		height: 95vh;
	}
}

@media screen and (min-width: 992px) {
	/* index.html */

	.hero-content h1 {
		font-size: 6rem;
	}

	.hero-content h2 {
		font-size: 5rem;
	}

	.mid-container {
		height: 100vh;
		width: 100vw;
		flex-direction: row;
	}

	.mid-left {
		height: 100vh;
		width: 50%;
		padding: 20 em 0;
	}

	.mid-right {
		height: 100vh;
		width: 50%;
	}

	.mid-left h1 {
		font-size: 5rem;
		padding-left: 0.1rem;
		text-align: center;
	}

	.mid-left h2 {
		font-size: 3rem;
		padding-left: 1rem;
	}

	.mid-left h3 {
		font-size: 2.5rem;
		padding-left: 1rem;
	}

	.mid-right img {
		height: 100vh;
		width: 50vw;
	}

	.end-container {
		height: auto;
		width: 100vw;
		position: relative;
		display: flex;
		flex-direction: column;
	}

	.form {
		border: none;
	}

	.end-content {
		height: 100vh;
	}

	.end-content h1 {
		font-size: 4.5rem;
	}

	.end-content h2 {
		font-size: 2.5rem;
	}

	.foot-container {
		height: 20vh;
		padding: 0.3rem 0.3rem;
	}

	.foot-container h6 {
		font-size: 1.8rem;
	}

	.foo-smlinks i {
		font-size: 1.6rem;
	}

	.foot-container p {
		font-size: 1em;
	}

	/* contact page */
	.contact-top {
		height: 100vh;
	}

	.top-items h1 {
		font-size: 6rem;
	}

	.top-items h2 {
		font-size: 3rem;
	}

	.top-items p {
		font-size: 1.5rem;
		padding: 0.2em;
		max-width: 50%;
	}

	.contact-mid {
		height: 100vh;
		width: 100vw;
		flex-direction: row;
	}

	.mid-item {
		height: 60%;
		width: 50%;
		border: 2px solid black;
		border-radius: 1em;
		overflow: hidden;
	}

	.mid-item h1 {
		font-size: 2rem;
		text-align: center;
		padding-bottom: 0.5rem;
		text-decoration: underline;
	}

	.mid-item img {
		height: 10vh;
		width: 100%;
		border-radius: 0.2em;
	}

	.mid-item p {
		font-size: 1.2em;
		padding: 5 1em;
	}

	.contact-end {
		height: 100vh;
		width: 100vw;
		background-image: url("../img/neon.jpg");
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		object-fit: cover;
	}

	/* bio page */

	.bio-mid-container {
		height: 100vh;
		/* width: auto; */
		flex-direction: row;
	}

	.bio-mid-left {
		width: 100vw;
	}

	.bio-mid-right {
		width: 100vw;
		height: 100vh;
		object-fit: cover;
	}

	.bio-mid-left h1 {
		font-size: 6rem;
		text-align: center;
	}

	.bio-mid-left h2 {
		font-size: 3rem;
		padding-left: 0.1rem;
		text-align: center;
	}

	.bio-mid-left h3 {
		font-size: 2rem;
		padding-left: 0.1rem;
		text-align: center;
	}

	.bio-mid-right img {
		width: 100%;
		max-height: 100vh;
		z-index: -1;
		object-fit: cover;
	}

	.bio-end-container {
		height: 100vh;
	}
	.bio-end-container img {
		position: relative;
	}

	.bio-end-content {
		position: absolute;
	}

	.form {
		height: 30vh;
	}

	form {
		height: 30vh;
	}
}

@media screen and (min-width: 1024px) {
	.top-items h1 {
		font-family: "Lato", sans-serif;
		font-size: 5rem;
		font-weight: 800;
		color: white;
		text-shadow: 2px 3px black;
	}

	.top-items h2 {
		font-family: "Lato", sans-serif;
		font-size: 3rem;
		font-weight: 800;
		color: white;
		text-shadow: 1px 4px black;
	}

	.top-items p {
		color: white;
		text-align: center;
		max-width: 800px;
		font-size: 1.5em;
		font-weight: 800;
		text-shadow: 0.08em 0.05em black;
	}

	nav ul li a {
		font-size: 1.8rem;
	}

	.mid-right {
		height: 100%;
		width: 50vw;
		flex-direction: row;
		justify-content: center;
	}

	.mid-container {
		display: flex;
		flex-direction: row;
		height: 100vh;
		width: 100vw;
		/* z-index: -1; */
	}

	.mid-right img {
		width: 100%;
		height: 100vh;
		z-index: -1;
		object-fit: inherit;
	}

	.hero-content {
		background-color: gray;
		/* padding: 2em 4em; */
	}
	.foot-container {
		height: 30vh;
		width: 100%;
		background-color: #f2e9e4;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1em 2em;
	}

	.foot-container h6 {
		font-family: "Noto Sans Mono", monospace;
		color: white;
		font-size: 3rem;
		text-shadow: 2px 2px black;
	}

	.foo-smlinks i {
		border-radius: 1em;
		background-color: transparent;
		color: white;
		font-size: 2.5em;
		cursor: pointer;
		transition: 0.3s;
	}

	.contact-mid {
		background-color: white;
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-direction: row;
		padding: 3em 2em;
		justify-content: center;
		align-items: center;
	}

	.contact-top {
		height: auto;
		width: 100vw;
		position: relative;
		display: grid;
		place-items: center;
	}

	.contact-top img {
		width: 100%;
		max-height: 100vh;
		z-index: -1;
		object-fit: cover;
	}

	.top-items h2 {
		font-size: 5rem;
	}

	.mid-item {
		height: 22em;
		width: 35em;
		border: 2px solid black;
		border-radius: 1em;
		margin: 1em 4.5em;
		overflow: hidden;
	}

	.mid-item h1 {
		font-size: 2rem;
		text-align: center;
	}

	.mid-item img {
		height: 12vh;
		width: 100%;

		border-radius: 0.2em;
	}

	.mid-item p {
		font-size: 1em;
		padding: 0 1em;
	}

	.contact-end {
		height: 100vh;
		width: 100vw;
		background-image: url("../img/neon.jpg");
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.bio-end-container {
		height: 100vh;
		padding: 0;
	}

	.bio-end-container img {
		height: 100vh;
	}

	.form {
		height: 30vh;
		margin-top: 30px;
	}

	.end-content {
		padding: 0.5em;
		position: absolute;
		display: flex;
	}

	.end-content h1 {
		height: 0.8em;
	}

	.end-content h2 {
		height: 1em;
	}
}

@media screen and (min-width: 1280px) {
	.mid-item {
		height: 60vh;
		width: 40%;
	}

	.mid-item img {
		height: 30vh;
	}

	.form {
		height: 75vh;
	}
}

@media screen and (min-width: 1400px) {
	.bio-end-container {
		height: 100vh;
	}
	.bio-end-container img {
		position: relative;
		height: 100vh;
		object-fit: cover;
	}

	.bio-end-content {
		position: absolute;
	}

	.form {
		height: 75vh;
	}

	.form input {
		height: 3em;
	}

	.form h3 {
		font-size: 3em;
	}
	.form label {
		font-size: 2em;
	}

	.mid-item img {
		height: 30vh;
		width: 100%;
		border-radius: 0.2em;
	}
}
